body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #eaf0f6;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 100%;
}
.progress {
  display: flex;
  flex-direction: column;
  gap: 53px;
  align-items: center;
  padding: 20px;
	color: #000000;
	background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress__header {
  align-self: flex-start;
}

.progress__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* Progress visual bar styles */
.progress__visual-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

.progress__svg {
  width: 130px;
  height: 130px;
}

.progress__track {
  fill: none;
  stroke: #eaf0f6;
  stroke-width: 10;
}

.progress__indicator {
  fill: none;
  stroke: #015cff;
  stroke-width: 10;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
}
