body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #eaf0f6;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 100%;
}
	color: #000000;
	background-color: #ffffff;
}
